# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Virtual environment
venv/
.env/
.env
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.log
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Static and media files
/static/
/media/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# Mac
.DS_Store
